:root {
    --page-background-color: #BFDFFF;
    --sidebar-background-color: #9CC1E2;
    --standout-background-color: #59ACFF;
    --header-background-image: url("resources/images/ai-image.jpg");
}
