/* Common styling and layout code for article based web pages e.g. all excluding index.html */

:root {
    /* Colour is the Source missing texture magenta :) */
    --page-background-color: #ff00dc;
    --sidebar-background-color: #ff00dc;
    --standout-background-color: #ff00dc;
}

html {
    background-color: var(--page-background-color);
}

.top-nav {
    grid-area: top-nav;
}

header {
    grid-area: header;
}

aside {
    grid-area: sidebar;
    background-color: var(--sidebar-background-color);
}

main {
    grid-area: content;
}

body {
    display: grid;
    grid-template-areas:
            "top-nav"
            "header"
            "sidebar"
            "content";
}

/* Tablet */
@media (min-width: 50em) {
    body {
        grid-template-columns: 15.3fr 84.7fr;
        grid-template-areas:
                "top-nav  top-nav"
                "sidebar  header"
                "sidebar  content";
    }
}

/* Desktop+ */
@media (min-width: 60em) {
}