/* Common styling and layout code for article based web pages e.g. all excluding index.html */

:root {
    /* Colour is the Source missing texture magenta :) */
    --page-background-color: #ff00dc;
    --sidebar-background-color: #ff00dc;
    --standout-background-color: #ff00dc;
    /* This can't be used due to copyright, it's just a funny placeholder */
    --header-background-image: url("https://upload.wikimedia.org/wikipedia/en/2/27/Bliss_%28Windows_XP%29.png");
}

html {
    background-color: var(--sidebar-background-color);
}

header {
    grid-area: header;
    background-image: var(--header-background-image);
}

aside {
    grid-area: sidebar;
    background-color: var(--sidebar-background-color);
    padding-left: 1rem;
    padding-right: 1rem;
}

main {
    grid-area: content;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom-left-radius: var(--corner-radius-regular);
    border-bottom-right-radius: var(--corner-radius-regular);
    background-color: var(--page-background-color);
}

body {
    display: grid;
    grid-template-areas:
            "top-nav"
            "header"
            "sidebar"
            "content"
            "footer";
}

footer {
    grid-area: footer;
    background-color: var(--sidebar-background-color);
    padding-left: 16px;
    padding-right: 16px;
}

.sidebar-list {
    padding-left: 16px;
    line-height: 1.4;
}

.sidebar-item {
    padding: 7px;
}

.sidebar-item:hover {
    background: var(--standout-background-color);
    text-decoration: underline;
    border-radius: var(--corner-radius-regular);
}

.sidebar-link {
    color: black;
    text-decoration: none;
}

.standout {
    background-color: var(--standout-background-color);
    border-radius: var(--corner-radius-regular);
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.standout h2:first-of-type {
    margin-top: 0;
}

.standout p:last-of-type {
    margin-bottom: 0;
}

/* Tablet */
@media (min-width: 50em) {
    body {
        grid-template-columns: 15.3fr 84.7fr;
        grid-template-areas:
                "top-nav  top-nav"
                "sidebar  header"
                "sidebar  content"
                "sidebar  footer";
    }

    main {
        padding-left: calc(calc(100 / 1220) * 100%);
        padding-right: calc(calc(100 / 1220) * 100%);

        border-bottom-right-radius: 0;
    }

    footer {
        padding-left: calc(calc(100 / 1220) * 100%);
        padding-right: calc(calc(100 / 1220) * 100%);
    }

    .standout {
        margin-left: -16px;
        margin-right: -16px;
        padding: 16px;
    }

    .container-follow {
        position: sticky;
        top: 16px;
    }

    .header-background {
        border-top-right-radius: 0;
    }
}

/* Desktop+ */
@media (min-width: 60em) {
}