:root {
    --corner-radius-regular: 16px;
}

.top-nav {
    background-color: white;
}

.top-nav menu {
    list-style-type: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.top-nav li {
    display: inline;
}

body {
    font-family: "PT Serif", serif;
}

h1, h2, h3 {
    font-family: "Madimi One", sans-serif;
}