:root {
    --corner-radius-regular: 16px;

    /* Transition Speeds */
    --hover-transition: .2s;
}

/*Taken from: https://github.com/JazerBarclay/ci435*/
.top-nav {
    /* Fancy Drop Shadow :O */
    background-color: var(--sidebar-background-color);
    position: relative;
    width: 100%;
    z-index: 3;
    border-bottom-left-radius: var(--corner-radius-regular);
    border-bottom-right-radius: var(--corner-radius-regular);
}

/* .top-navigation background (using the unordered list encapsulation) */
.top-nav menu {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    z-index: -1;
}

/* Set all item links to display block and set padding */
.top-nav li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    color: black;
}

/* On link hover change colour */
.top-nav li a:hover,
.top-nav .menu-btn:hover {
    transition: var(--hover-transition);
}

/* menu */
.top-nav menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */
.top-nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

/* Create center hamburger line */
.top-nav .menu-icon .navicon {
    background: black;
    display: block;
    height: 2px;
    position: relative;
    transition: all .2s ease-out;
    width: 18px;
}

/* Create top and bottom hamburger lines */
.top-nav .menu-icon .navicon:before,
.top-nav .menu-icon .navicon:after {
    background: black;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

/*.top-nav .menu-icon:hover {
    background-color: var(--standout-background-color);
    border-radius: var(--corner-radius-regular);
}*/

/* Set bottom hamburger line */
.top-nav .menu-icon .navicon:before {
    top: 5px;
}

/* Set top hamburger line */
.top-nav .menu-icon .navicon:after {
    top: -5px;
}

/* Hide Checkbox */
.top-nav .menu-btn {
    display: none;
}

/* Give height to menu so it rolls out on click */
.top-nav .menu-btn:checked ~ menu {
    max-height: 355px;
}

/* Hide Middle Hamburger Line */
.top-nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

/* Rotate Bottom Hamburger Line */
.top-nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

/* Rotate Top Hamburger Line */
.top-nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

/* Reset Position to Keep Centered */
.top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.top-nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.group-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.group-item {
    box-sizing: border-box; /*Includes padding and border when calculating width*/
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
    /*height: 100%*/
}

.is-mobile {
    display: block;
    visibility: visible;
}

.is-desktop {
    display: none;
    visibility: hidden;
}

.home-nav-link {
    text-decoration-color: #B759FF !important;
}

.ai-security-nav-link {
    text-decoration-color: #59ACFF !important;
}

.computer-security-nav-link {
    text-decoration-color: #90FF5C !important;
}

.information-security-nav-link {
    text-decoration-color: #FFFD5C !important;
}

.network-security-nav-link {
    text-decoration-color: #FF5A5A !important;
}

.ncsc-nav-link {
    text-decoration-color: #591A52 !important;
}

img {
    border-radius: var(--corner-radius-regular);
    max-width: 100%;
}

body {
    font-family: "PT Serif", serif;
}

h1, h2, h3 {
    font-family: "Madimi One", sans-serif;
}

header {
    margin: 16px;
    min-height: 260px;
    border-radius: var(--corner-radius-regular);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        margin-left: 0.67em;
        margin-right: 0.67em;
    }
}

@media (min-width: 50em) {
    header {
        margin: 30px;

        h1 {
            margin-left: unset;
            margin-right: unset;
        }
    }

    .group-item {
        flex: 1 1 calc(calc(100% / 2) - 16px);
    }

    .is-mobile {
        display: none;
        visibility: hidden;
    }

    .is-desktop {
        display: block;
        visibility: visible;
    }

    .menu-btn {
        display: none;
    }

    .menu-icon {
        display: none;
    }

    .top-nav {
        background-color: white;
        align-items: flex-start;
        display: flex;
        align-self: stretch;
        border-radius: 0;
    }

    .top-nav menu {
        list-style-type: none;
        padding-left: 30px;
        padding-right: 30px;

        max-height: unset;

        display: flex;
        justify-content: space-between; /*https://css-tricks.com/almanac/properties/j/justify-content/*/
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        width: 100%
    }

    .top-nav li {
        text-align: center;
    }

    .top-nav a {
        color: black;
        text-decoration: none;
        text-align: center;
    }

    .top-nav a:hover {
        text-decoration: underline;
    }
}