:root {
    --corner-radius-regular: 16px;
}

.group-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.group-item {
    box-sizing: border-box; /*Includes padding and border when calculating width*/
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    align-items: center;
    /*height: 100%*/
}

.is-mobile {
    display: unset;
    visibility: visible;
}

.is-desktop {
    display: none;
    visibility: hidden;
}

.top-nav {
    background-color: white;
}

.top-nav menu {
    list-style-type: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

.top-nav li {
    display: inline;
}

.top-nav a {
    color: black;
    text-decoration: none;
}

.top-nav a:hover {
    text-decoration: underline;
}

.home-nav-link {
    text-decoration-color: #B759FF !important;
}

.ai-security-nav-link {
    text-decoration-color: #59ACFF !important;
}

.computer-security-nav-link {
    text-decoration-color: #90FF5C !important;
}

.information-security-nav-link {
    text-decoration-color: #FFFD5C !important;
}

.network-security-nav-link {
    text-decoration-color: #FF5A5A !important;
}

.ncsc-nav-link {
    text-decoration-color: #591A52 !important;
}

img {
    border-radius: var(--corner-radius-regular);
    max-width: 100%;
}

body {
    font-family: "PT Serif", serif;
}

h1, h2, h3 {
    font-family: "Madimi One", sans-serif;
}

header {
    margin: 16px;
    min-height: 260px;
    border-radius: var(--corner-radius-regular);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        margin-left: 0.67em;
        margin-right: 0.67em;
    }
}

@media (min-width: 50em) {
    header {
        margin: 30px;

        h1 {
            margin-left: unset;
            margin-right: unset;
        }
    }

    .group-item {
        flex: 1 1 calc(calc(100% / 2) - 16px);
    }

    .is-mobile {
        display: none;
        visibility: hidden;
    }

    .is-desktop {
        display: unset;
        visibility: visible;
    }
}