:root {
    --page-background-color: #C9FFB0;
    --sidebar-background-color: #B5EFAC;
    --standout-background-color: #90FF5C;

    --header-background-image: url('../resources/images/computer-security.jpg');
}
