/* Styles various elements and selectors in a way that allows for layouts to be more easily debugged */

.top-nav {
    background: aqua;
}

header {
    background: red;
}

aside {
    background: green;
}

main {
    background: yellow;
}